Load data in pandas

In [11]:
import pandas as pd

df = pd.read_csv('/kaggle/input/pokemon-data-csv/pokemon_data.csv')
# print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

Reading data into pandas

In [32]:
## Read headers
df.columns

##Read each column
# print(df[['Name', 'Type 1', 'HP']])

##Read each row
# print(df.iloc[0:4])
# for index, row in df.iterrows():
#     print(index, row['Name'])
df.loc[df['Type 1'] == "Grass"]
##Read specific location (R,C)
# print(df.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

Sorting/Describing data

In [33]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [42]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

Making changes to data

In [58]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 
# df = df.drop(columns=['Total'])
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols [4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Saving new CSV

In [68]:
df.to_csv('/kaggle/working/modified.csv', index=False)

In [80]:
new_df = df.loc[(df['Type 1'] == 'Grass')&(df['Type 2'] == 'Poison')&(df['HP'] > 75)]

new_df.reset_index(drop=True, inplace=True)

new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
3,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

filtering out mega name

In [82]:

df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

using regex

In [86]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [88]:
df.loc[df['Name'].str.contains('^pi[a z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

conditional changes

In [96]:
df.loc[df['Type 1'] == 'Flame', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [99]:
df.loc[df['Total'] > 500,['Generation', 'Legendary']] = 'Test Value'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test Value,Test Value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test Value,Test Value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test Value,Test Value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test Value,Test Value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test Value,Test Value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test Value,Test Value
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test Value,Test Value

reloading modified to undo the above changes

In [134]:
df = pd.read_csv('/kaggle/working/modified.csv')

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

aggregate stats (group by)

In [142]:
grouped_data = df.groupby(['Type 1'])[['Total', 'HP', 'Attack','Defense','Sp. Atk','Sp. Def','Speed']].mean().sort_values('Attack', ascending=False)
grouped_data

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235

In [144]:
grouped_data = df.groupby(['Type 1'])[['Total', 'HP', 'Attack','Defense','Sp. Atk','Sp. Def','Speed']].mean().sort_values('HP', ascending=False)
grouped_data

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [145]:
df.groupby(['Type 1'])[['Total', 'HP', 'Attack','Defense','Sp. Atk','Sp. Def','Speed']].sum()

          Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug       26146  3925    4897     4880     3717     4471   4256
Dark      13818  2071    2740     2177     2314     2155   2361
Dragon    17617  2666    3588     2764     3099     2843   2657
Electric  19510  2631    3040     2917     3961     3243   3718
Fairy      7024  1260    1046     1117     1335     1440    826
Fighting  11244  1886    2613     1780     1434     1747   1784
Fire      23820  3635    4408     3524     4627     3755   3871
Flying     1940   283     315      265      377      290    410
Ghost     14066  2062    2361     2598     2539     2447   2059
Grass     29480  4709    5125     4956     5425     4930   4335
Ground    14000  2361    3064     2715     1807     2008   2045
Ice       10403  1728    1746     1714     1861     1831   1523
Normal    39365  7573    7200     5865     5470     6245   7012
Poison    11176  1883    2091     1927     1692     1803   1780
Psychic   27129  4026    4073     3858     5609     4918   4645
Rock      19965  2876    4086     4435     2787     3321   2460
Steel     13168  1761    2503     3412     1823     2177   1492
Water     48211  8071    8305     8170     8379     7898   7388

In [154]:
df['count'] = 1
df
df.groupby(['Type 1', 'Type 2'])[['#', 'Name','Type 2','Total', 'HP', 'Attack','Defense','Sp. Atk','Sp. Def','Speed','count']].count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

working with large amounts of data

In [ ]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('/kaggle/working/modified.csv', chunksize=1):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
    print(new_df)

In [170]:
df = pd.read_csv('/kaggle/working/modified.csv')
df.groupby(['Type 1']).sum()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,26146,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,13818,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,17617,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,19510,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,7024,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,11244,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,23820,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,1940,283,315,265,377,290,410,22,2
Ghost,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,14066,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,29480,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,14000,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,10403,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,39365,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,EkansArbokNidoran (Female)NidorinaNidoqueenNid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,11176,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,27129,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,19965,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,13168,1761,2503,3412,1823,2177,1492,104,4
Water,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,48211,8071,8305,8170,8379,7898,7388,320,4